<div>
    <h1>Créations sucrées</h1>
</div>

<p style="margin-bottom: 2em;">Parce que le safran est source d’inspiration pour de multiples préparations, je vous propose ces produits safranés  artisanaux réalisés sur notre ferme avec le plus grand soin.</p>
<div class="modal-separator"></div>
<div style="margin-bottom:3em"></div>

<div class="overlay hidden"></div>
<div class="body-modal">
    <section class="modal hidden">
        <div>
            <h1 class="modal-title"></h1>
            <div class="modal-separator"></div>
            <p class="modal-description"></p>
            <p class="modal-price"></p>
        </div>
        <button class="btn-close">⨉</button>
    </section>
</div>

<div class="main">
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-minimadeleine"><img src="./sucrees/minimad.jpg"></div>
        <div class="gallery-title">Mini madeleines safranées - 100g</div>
    </div>
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-cookies_amande_safran"><img src="./sucrees/cookie.jpg"></div>
        <div class="gallery-title">Cookies amande safranées - 100g</div>
    </div>
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-Croconoix"><img src="./sucrees/croconoix.jpg"></div>
        <div class="gallery-title">Croc’O Noix safranés - 100g</div>
    </div>
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-tendreschocolats"><img src="./sucrees/tendreschoco.jpg"></div>
        <div class="gallery-title">Tendres chocolat safranés - 100g</div>
    </div>
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-paletsraisins"><img src="./sucrees/palets.jpg"></div>
        <div class="gallery-title">Palets raisins safranés - 100g</div>
    </div>
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-tuiles_amandes_safran"><img src="./sucrees/tuilesamande.jpg"></div>
        <div class="gallery-title">Tuiles amandes safran - 100g</div>
    </div>
    
</div><script src="{{ base.url | prepend: site.url }}/assets/script_creationssucrees.js"></script>