<div>
    <h1>Créations salées</h1>
</div>

<div class="overlay hidden"></div>
<div class="body-modal">
    <section class="modal hidden">
        <div>
            <h1 class="modal-title"></h1>
            <div class="modal-separator"></div>
            <p class="modal-description"></p>
            <p class="modal-price"></p>
        </div>
        <button class="btn-close">⨉</button>
    </section>
</div>

<div class="main">
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-biscuits_chorizo"><img src="./salees/biscuitschorizo.jpg"></div>
        <div class="gallery-title">Biscuits chorizo safran - 100g</div>
    </div>
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-tuiles_tomate"><img src="./salees/tuilestomate.jpg"></div>
        <div class="gallery-title">Tuiles tomate safran - 100g</div>
    </div>
    
</div><script src="{{ base.url | prepend: site.url }}/assets/script_creationsalees.js"></script>