<div>
    <h1>Créations sucrées</h1>
</div>

<div class="overlay hidden"></div>
<div class="body-modal">
    <section class="modal hidden">
        <div class="flex">
        <button class="btn-close">⨉</button>
        </div>
        <div>
            <h1 class="modal-title"></h1>
            <p class="modal-description"></p>
        </div>
    </section>
</div>

<div class="main">
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-minimadeleine"><img src="./sucrees/minimad.jpg"></div>
        <div class="gallery-title">Mini madeleines safranées</div>
    </div>
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-cookies_amande_safran"><img src="./sucrees/cookie.jpg"></div>
        <div class="gallery-title">Cookies amande safranées</div>
    </div>
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-Croconoix"><img src="./sucrees/croconoix.jpg"></div>
        <div class="gallery-title">Croc’O Noix safranés</div>
    </div>
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-tendreschocolats"><img src="./sucrees/tendreschoco.jpg"></div>
        <div class="gallery-title">Tendres chocolat safranés</div>
    </div>
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-paletsraisins"><img src="./sucrees/palets.jpg"></div>
        <div class="gallery-title">Palets raisins safranés</div>
    </div>
    
</div><script src="{{ base.url | prepend: site.url }}/assets/script_creationssucrees.js"></script>