<div class="tab-wrap">
    
    <input type="radio" name="tabs" id="tab1" checked>
    <div class="tab-label-content" id="tab1-content">
        <label class="gridlabel" for="tab1">Safran Sec</label>
        <div class="tab-content">
            <div class="grid-wrapper">
                
                
                    <div class="one">
                        <a class="btn" href="#open-modal-safransec-safran_sec_0_2g">
                        <img class="gallery-image" src="./safran_sec_02g.jpg">
                    </a>
                        <div class="gallery-title">Safran sec - 0.2g</div>
                    </div>
                
                <div id="open-modal-safransec-safran_sec_0_2g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 0.2g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
                
                    <div class="two">
                        <a class="btn" href="#open-modal-safransec-safran_sec_0_5g">
                        <img class="gallery-image" src="./safran_sec_05g.jpg">
                    </a>
                        <div class="gallery-title">Safran sec - 0.5g</div>
                    </div>
                
                <div id="open-modal-safransec-safran_sec_0_5g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 0.5g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
                
                    <div class="three">
                        <a class="btn" href="#open-modal-safransec-safran_sec_1g">
                        <img class="gallery-image" src="./safran_sec_1g.jpg">
                    </a>
                        <div class="gallery-title">Safran sec - 1g</div>
                    </div>
                
                <div id="open-modal-safransec-safran_sec_1g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 1g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
                
                    <div class="four">
                        <a class="btn" href="#open-modal-safransec-safran_sec_2g">
                        <img class="gallery-image" src="./safran_sec_2g.jpg">
                    </a>
                        <div class="gallery-title">Safran sec - 2g</div>
                    </div>
                
                <div id="open-modal-safransec-safran_sec_2g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 2g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <input type="radio" name="tabs" id="tab2" checked>
    <div class="tab-label-content" id="tab2-content">
        <label class="gridlabel" for="tab2">Création sucrées</label>
        <div class="tab-content">
            <div class="grid-wrapper">
                
                
                    <div class="one">
                        <a class="btn" href="#open-modal-creationssucrees-minimadeleine">
                        <img class="gallery-image" src="./sucrees/minimad.jpg">
                    </a>
                        <div class="gallery-title">Mini madeleines safranées</div>
                    </div>
                
                <div id="open-modal-creationssucrees-minimadeleine" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Mini madeleines safranées</h1>
                        <div>Farine de blé Bio, sucre blanc, oeufs Bio, sel de Guérande, safran</div>
                    </div>
                </div>
                
                
                    <div class="two">
                        <a class="btn" href="#open-modal-creationssucrees-cookies_amande_safran">
                        <img class="gallery-image" src="./sucrees/cookie.jpg">
                    </a>
                        <div class="gallery-title">Cookies amande safranées</div>
                    </div>
                
                <div id="open-modal-creationssucrees-cookies_amande_safran" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Cookies amande safranées</h1>
                        <div>Cassonade, amande entières, farine de blé Bio, beurre doux, oeufs Bio, pouvre à lever, sel de Guérande, safran.</div>
                    </div>
                </div>
                
                
                    <div class="three">
                        <a class="btn" href="#open-modal-creationssucrees-Croconoix">
                        <img class="gallery-image" src="./sucrees/croconoix.jpg">
                    </a>
                        <div class="gallery-title">Croc’O Noix safranés</div>
                    </div>
                
                <div id="open-modal-creationssucrees-Croconoix" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Croc’O Noix safranés</h1>
                        <div>Cassonade, noix de Touraine, beurre doux, farine de blé Bio, oeufs Bio, poudre à lever, sel de Guérande, safran.</div>
                    </div>
                </div>
                
                
                    <div class="four">
                        <a class="btn" href="#open-modal-creationssucrees-tendreschocolats">
                        <img class="gallery-image" src="./sucrees/tendreschoco.jpg">
                    </a>
                        <div class="gallery-title">Tendres chocolat safranés</div>
                    </div>
                
                <div id="open-modal-creationssucrees-tendreschocolats" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Tendres chocolat safranés</h1>
                        <div>Farine de blé Bio, chocolat noir 65%, cassonade, beurre doux, oeufs Bio, cacao, sel de Guérande, safran.</div>
                    </div>
                </div>
                
                
                    <div class="five">
                        <a class="btn" href="#open-modal-creationssucrees-paletsraisins">
                        <img class="gallery-image" src="./sucrees/palets.jpg">
                    </a>
                        <div class="gallery-title">Palets raisins safranés</div>
                    </div>
                
                <div id="open-modal-creationssucrees-paletsraisins" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Palets raisins safranés</h1>
                        <div>Cassonade, farine de blé Bio, beurre doux, oeufs Bio, raisins secs bruns, rhum brun, sel de Guérande, safran.</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <input type="radio" name="tabs" id="tab3" checked>
    <div class="tab-label-content" id="tab3-content">
        <label class="gridlabel" for="tab3">Création salées</label>
        <div class="tab-content">
            <div class="grid-wrapper">
                
                
                    <div class="one">
                        <a class="btn" href="#open-modal-creationsalees-safran_sec_0_2g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 0.2g</div>
                    </div>
                
                <div id="open-modal-creationsalees-safran_sec_0_2g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 0.2g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
                
                    <div class="two">
                        <a class="btn" href="#open-modal-creationsalees-safran_sec_0_5g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 0.5g</div>
                    </div>
                
                <div id="open-modal-creationsalees-safran_sec_0_5g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 0.5g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
                
                    <div class="three">
                        <a class="btn" href="#open-modal-creationsalees-safran_sec_1g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 1g</div>
                    </div>
                
                <div id="open-modal-creationsalees-safran_sec_1g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 1g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <input type="radio" name="tabs" id="tab4" checked>
    <div class="tab-label-content" id="tab4-content">
        <label class="gridlabel" for="tab4">Je sais pas</label>
        <div class="tab-content">
            <div class="grid-wrapper">
                
                
                    <div class="one">
                        <a class="btn" href="#open-modal-jesaispas-safran_sec_0_2g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 0.2g</div>
                    </div>
                
                <div id="open-modal-jesaispas-safran_sec_0_2g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 0.2g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
                
                    <div class="two">
                        <a class="btn" href="#open-modal-jesaispas-safran_sec_0_5g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 0.5g</div>
                    </div>
                
                <div id="open-modal-jesaispas-safran_sec_0_5g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 0.5g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
                
                    <div class="three">
                        <a class="btn" href="#open-modal-jesaispas-safran_sec_1g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 1g</div>
                    </div>
                
                <div id="open-modal-jesaispas-safran_sec_1g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 1g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
                
                    <div class="four">
                        <a class="btn" href="#open-modal-jesaispas-safran_sec_1g_2">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 1g</div>
                    </div>
                
                <div id="open-modal-jesaispas-safran_sec_1g_2" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 1g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="slide"></div>
    <div class="step" style="height: 700px;"></div>
</div>