<div class="tab-wrap">
    
    <input type="radio" name="tabs" id="tab1" checked>
    <div class="tab-label-content" id="tab1-content">
        <label class="gridlabel" for="tab1">Safran Sec</label>
        <div class="tab-content">
            <div class="grid-wrapper">
                
                
                    <div class="one">
                        <a class="btn" href="#open-modal-safransec-safran_sec_0_2g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 0.2g</div>
                    </div>
                
                <div id="open-modal-safransec-safran_sec_0_2g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 0.2g</h1>
                        <div>Test hello 
 pourquoi pas</div>
                    </div>
                </div>
                
                
                    <div class="two">
                        <a class="btn" href="#open-modal-safransec-safran_sec_0_5g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 0.5g</div>
                    </div>
                
                <div id="open-modal-safransec-safran_sec_0_5g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 0.5g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
                
                    <div class="three">
                        <a class="btn" href="#open-modal-safransec-safran_sec_1g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 1g</div>
                    </div>
                
                <div id="open-modal-safransec-safran_sec_1g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 1g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <input type="radio" name="tabs" id="tab2" checked>
    <div class="tab-label-content" id="tab2-content">
        <label class="gridlabel" for="tab2">Création sucrées</label>
        <div class="tab-content">
            <div class="grid-wrapper">
                
                
                    <div class="one">
                        <a class="btn" href="#open-modal-creationssucrees-safran_sec_0_2g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 0.2g</div>
                    </div>
                
                <div id="open-modal-creationssucrees-safran_sec_0_2g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 0.2g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
                
                    <div class="two">
                        <a class="btn" href="#open-modal-creationssucrees-safran_sec_0_5g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 0.5g</div>
                    </div>
                
                <div id="open-modal-creationssucrees-safran_sec_0_5g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 0.5g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
                
                    <div class="three">
                        <a class="btn" href="#open-modal-creationssucrees-safran_sec_1g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 1g</div>
                    </div>
                
                <div id="open-modal-creationssucrees-safran_sec_1g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 1g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <input type="radio" name="tabs" id="tab3" checked>
    <div class="tab-label-content" id="tab3-content">
        <label class="gridlabel" for="tab3">Création salées</label>
        <div class="tab-content">
            <div class="grid-wrapper">
                
                
                    <div class="one">
                        <a class="btn" href="#open-modal-creationsalees-safran_sec_0_2g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 0.2g</div>
                    </div>
                
                <div id="open-modal-creationsalees-safran_sec_0_2g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 0.2g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
                
                    <div class="two">
                        <a class="btn" href="#open-modal-creationsalees-safran_sec_0_5g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 0.5g</div>
                    </div>
                
                <div id="open-modal-creationsalees-safran_sec_0_5g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 0.5g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
                
                    <div class="three">
                        <a class="btn" href="#open-modal-creationsalees-safran_sec_1g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 1g</div>
                    </div>
                
                <div id="open-modal-creationsalees-safran_sec_1g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 1g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <input type="radio" name="tabs" id="tab4" checked>
    <div class="tab-label-content" id="tab4-content">
        <label class="gridlabel" for="tab4">Je sais pas</label>
        <div class="tab-content">
            <div class="grid-wrapper">
                
                
                    <div class="one">
                        <a class="btn" href="#open-modal-jesaispas-safran_sec_0_2g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 0.2g</div>
                    </div>
                
                <div id="open-modal-jesaispas-safran_sec_0_2g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 0.2g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
                
                    <div class="two">
                        <a class="btn" href="#open-modal-jesaispas-safran_sec_0_5g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 0.5g</div>
                    </div>
                
                <div id="open-modal-jesaispas-safran_sec_0_5g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 0.5g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
                
                    <div class="three">
                        <a class="btn" href="#open-modal-jesaispas-safran_sec_1g">
                        <img class="gallery-image" src="./placeholder.png">
                    </a>
                        <div class="gallery-title">Safran sec - 1g</div>
                    </div>
                
                <div id="open-modal-jesaispas-safran_sec_1g" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">Safran sec - 1g</h1>
                        <div>Placeholder</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="slide"></div>
</div>