<div>
    <h1>Safran Sec</h1>
</div>

<div class="overlay hidden"></div>
<div class="body-modal">
    <section class="modal hidden">
        <div class="flex">
        <button class="btn-close">⨉</button>
        </div>
        <div>
            <h1 class="modal-title"></h1>
            <p class="modal-description"></p>
        </div>
    </section>
</div>

<div class="main">
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-safran_sec_0_2g"><img src="./safran/safran_sec_02g.jpg"></div>
        <div class="gallery-title">Safran sec - 0.2g</div>
    </div>
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-safran_sec_0_5g"><img src="./safran/safran_sec_05g.jpg"></div>
        <div class="gallery-title">Safran sec - 0.5g</div>
    </div>
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-safran_sec_1g"><img src="./safran/safran_sec_1g.jpg"></div>
        <div class="gallery-title">Safran sec - 1g</div>
    </div>
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-safran_sec_2g"><img src="./safran/safran_sec_2g.jpg"></div>
        <div class="gallery-title">Safran sec - 2g</div>
    </div>
    
</div><script src="{{ base.url | prepend: site.url }}/assets/script_safransec.js"></script>