<div>
    <h1>Sirops, gelées & vinaigre</h1>
</div>

<p style="margin-bottom: 2em;">Parce que le safran est source d’inspiration pour de multiples préparations, je vous propose ces produits safranés  artisanaux réalisés sur notre ferme avec le plus grand soin.</p>
<div class="modal-separator"></div>
<div style="margin-bottom:3em"></div>

<div class="overlay hidden"></div>
<div class="body-modal">
    <section class="modal hidden">
        <div>
            <h1 class="modal-title"></h1>
            <div class="modal-separator"></div>
            <p class="modal-description"></p>
            <p class="modal-price"></p>
        </div>
        <button class="btn-close">⨉</button>
    </section>
</div>

<div class="main">
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-sirop100ml"><img src="./siropgeleevinaigre/sirop100.jpg"></div>
        <div class="gallery-title">Sirop de safran - 100ml</div>
    </div>
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-sirop250ml"><img src="./siropgeleevinaigre/sirop250.jpg"></div>
        <div class="gallery-title">Sirop de safran - 250ml</div>
    </div>
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-gelee"><img src="./siropgeleevinaigre/gelee.jpg"></div>
        <div class="gallery-title">Gelée de vin safranée - 100g</div>
    </div>
    
    <div>
        <a href=""></a>
        <div class="gallery-image open-vinaigre"><img src="./siropgeleevinaigre/vinaigre.jpg"></div>
        <div class="gallery-title">Vinaigre de cidre au safran - 250ml</div>
    </div>
    
</div><script src="{{ base.url | prepend: site.url }}/assets/script_siropgeleevinaigre.js"></script>