<div class="tab-wrap">
    {% for ktab, tab in tabs.items() %}
    <input type="radio" name="tabs" id="tab{{ tab.index }}" checked>
    <div class="tab-label-content" id="tab{{ tab.index }}-content">
        <label class="gridlabel" for="tab{{ tab.index }}">{{ tab.title }}</label>
        <div class="tab-content">
            <div class="grid-wrapper">
                {% for kprod, item in tab.produit.items() %}
                
                    <div class="{{ item.class }}">
                        <a class="btn" href="#open-modal-{{ ktab }}-{{ kprod }}">
                        <img class="gallery-image" src="./{{ item.image }}">
                    </a>
                        <div class="gallery-title">{{ item.name }}</div>
                    </div>
                
                <div id="open-modal-{{ ktab }}-{{ kprod }}" class="modal-window">
                    <div>
                        <a href="#" title="Close" class="modal-close" style="color:rgb(147, 41, 41); font-size: 1em;">Fermer</a>
                        <h1 style="font-size: 3em;">{{ item.name }}</h1>
                        <div>{{ item.description }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="slide"></div>
    <div class="step" style="height: 700px;"></div>
</div>
