<div>
    <h1>{{ title }}</h1>
</div>

<p style="margin-bottom: 2em;">{{ desc }}</p>
<div class="modal-separator"></div>
<div style="margin-bottom:3em"></div>

<div class="overlay hidden"></div>
<div class="body-modal">
    <section class="modal hidden">
        <div>
            <h1 class="modal-title"></h1>
            <div class="modal-separator"></div>
            <p class="modal-description"></p>
            <p class="modal-price"></p>
        </div>
        <button class="btn-close">⨉</button>
    </section>
</div>

<div class="main">
    {% for item_name, item in tabs.items() %}
    <div>
        <a href=""></a>
        <div class="gallery-image open-{{ item_name }}"><img src="./{{ item.image }}"></div>
        <div class="gallery-title">{{ item.name }}</div>
    </div>
    {% endfor %}
</div>