<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">


    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-2">
        <img class="social-svg" src="{{ '/assets/images/facebook.svg' | relative_url }}" style="width:150px;">
        
      </div>

      <div class="footer-col footer-col-3">
        <img class="social-svg" src="{{ '/assets/images/instagram.svg' | relative_url }}" style="width:150px;">
      </div>
    </div>



  </div>

</footer>
