<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <a href="https://www.facebook.com/valerie.raineau.9" target="_blank">
        <div class="footer-col footer-col-2">
          <img class="social-svg" src="{{ '/assets/images/facebook.svg' | relative_url }}" style="width:150px;">
        </div>
      </a>

      <a href="https://www.instagram.com/safrandeval/?igshid=YmMyMTA2M2Y%3D" target="_blank">
        <div class="footer-col footer-col-3">
          <img class="social-svg" src="{{ '/assets/images/instagram.svg' | relative_url }}" style="width:150px;">
        </div>
    </div>
    </a>



  </div>

</footer>